/* menu bar styles */

.Menu { /* menu section banner */
    text-align: center;
    width: 100%;
    background-color: #3b3f47;
}

.Menu button { /* buttons */
    cursor: pointer;
    padding: 8px 15px;
    display: inline-block;
    margin: 7px;
    background-color: white;
}

button:hover:enabled{ /* hover buttons */
    background-color: #3b3f47!important;
    color: white;
}

.Menu text { /* menu text */
    padding: 8px 30px;
    display: inline-block;
    margin: 7px;
    color: white;
}

.Menu table { /* menu stats */
    padding: 8px 30px;
    display: inline-block;
    margin: 7px;
    color: white;
}

.header td { /* format stats */
    font-weight: bold;
    padding: 0 45px;
}