/* block array styles */

.block { /* single block */
    width: 4px;
    margin: 0 1px;
    display: inline-block;
    background-color: #282c34;
}

.container { /* block container */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center; 
}